Q-1. Imagine you have a dataset where you have different Instagram features like u sername , Caption , Hashtag , Followers , Time_Since_posted , and likes , now your task is to predict the number of likes and Time Since posted and the rest of the features are your input features. Now you have to build a model which can predict the number of likes and Time Since posted. Dataset This is the Dataset You can use this dataset for this question.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_csv("E:\projects\Placement Assignment_MdFaizKhan\Data\instagram_reach.csv")

In [5]:
df.head()

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30

In [6]:
df.shape

(100, 8)

In [7]:
df.info

<bound method DataFrame.info of     Unnamed: 0  S.No              USERNAME  \
0            0     1         mikequindazzi
1            1     2       drgorillapaints
2            2     3    aitrading_official
3            3     4  opensourcedworkplace
4            4     5           crea.vision
..         ...   ...                   ...
95           8    19        michaelgarza__
96           9    21           dvlp_search
97          10    22            ecom.space
98          11    24        lb3enterprises
99          12    25          palmariusdev

                                              Caption  Followers  \
0   Who are #DataScientist and what do they do? >>...       1600
1   We all know where it’s going. We just have to ...        880
2   Alexander Barinov: 4 years as CFO in multinati...        255
3                                                sfad        340
4   Ever missed a call while your phone was chargi...        304
..                                                ...        ...
95  328 S. Wetherly Drive, Beverly Hills, CA 90212...        614
96  Credit @tristankappel To find more dvlp follow...        450
97  We are coming up with the Best 21 Books that w...        182
98  We’re only paid to move dirt once. It’s not ju...       2039
99                    Obtén tu tienda en línea ahora.        741

                                             Hashtags Time since posted  Likes
0   #MachineLearning #AI #DataAnalytics #DataScien...          11 hours    139
1    #deck .#mac #macintosh#sayhello #apple #steve...           2 hours     23
2   #whoiswho #aitrading #ai #aitradingteam#instat...           2 hours     25
3   #iot #cre#workplace #CDO #bigdata #technology#...           3 hours     49
4   #instamachinelearning #instabigdata#instamarke...           3 hours     30
..                                                ...               ...    ...
95  #beverlyhills #realestate#losangelesrealestate...           3 hours     31
96  #workspace #work #developer#development #devel...           3 hours     42
97  #books #book #motivation #inspiration #life#bo...           3 hours     10
98  #heavyequipment #underconstruction#dozer #real...           3 hours    222
99  #marketing #programming#development #desarroll...           3 hours    109

[100 rows x 8 columns]>

In [9]:
#checking duplicates
df.duplicated().sum()

0

In [12]:
df.drop(["Unnamed: 0","S.No","USERNAME"],axis=1,inplace=True)

In [13]:
df.head()

,Caption,Followers,Hashtags,Time since posted,Likes
0,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30

In [14]:
df.describe()

        Followers      Likes
count   100.00000  100.00000
mean    961.96000   46.48000
std    1014.62567   55.08698
min      11.00000    8.00000
25%     252.75000   19.00000
50%     612.00000   29.00000
75%    1197.00000   46.00000
max    4496.00000  349.00000