Q-11. Given the data of a feature contributing to different classes
https://drive.google.com/file/d/1mCjtYHiX--mMUjicuaP2gH3k-SnFxt8Y/view?usp
=share_

a. Check whether the distribution of all the classes are the same or not.

b. Check for the equality of variance/

c. Which amount LDA and QDA would perform better on this data for

classification and why.

d. Check the equality of mean for between all the classes.

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind

In [2]:
data=pd.read_csv("E:\DATA SETS\pokemon\BP.csv")

In [3]:
data.head()

   Patient ID   Blood Pressure Before (mmHg)   Blood Pressure After (mmHg)
0           1                            130                           120
1           2                            142                           135
2           3                            120                           118
3           4                            135                           127
4           5                            148                           140

In [8]:
data[" Blood Pressure After (mmHg)"]

0     120
1     135
2     118
3     127
4     140
     ...
95    129
96    137
97    123
98    135
99    130
Name:  Blood Pressure After (mmHg), Length: 100, dtype: int64

In [9]:
# a. Check whether the distribution of all the classes are the same or not.
# Perform the t-test
before = data[' Blood Pressure Before (mmHg)']
after = data[' Blood Pressure After (mmHg)']
t_statistic, p_value = ttest_ind(before, after)

# Check if the distributions are significantly different
alpha = 0.05  # Significance level
if p_value < alpha:
    print("The distributions of the two classes are significantly different.")
else:
    print("The distributions of the two classes are not significantly different.")

The distributions of the two classes are significantly different.

In [10]:
#b. Check for the equality of variance

from scipy.stats import levene

# Perform Levene's test for equality of variances
statistic, p_value = levene(before, after)

# Check if the variances are significantly different
if p_value < alpha:
    print("The variances of the two classes are significantly different.")
else:
    print("The variances of the two classes are not significantly different.")

The variances of the two classes are not significantly different.

In [11]:
data.head(15)

    Patient ID   Blood Pressure Before (mmHg)   Blood Pressure After (mmHg)
0            1                            130                           120
1            2                            142                           135
2            3                            120                           118
3            4                            135                           127
4            5                            148                           140
5            6                            122                           118
6            7                            137                           129
7            8                            130                           124
8            9                            142                           137
9           10                            128                           125
10          11                            135                           129
11          12                            140                           132
12          13                            132                           125
13          14                            145                           136
14          15                            124                           118

In [14]:
data.duplicated().sum()

0

In [18]:
## c. Which amount LDA and QDA would perform better on this data for
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.model_selection import cross_val_score

# Prepare the feature matrix X and the target variable y
X = data[[' Blood Pressure Before (mmHg)', ' Blood Pressure After (mmHg)']].values
y = ['Before', 'After'] * (len(data) // 2)  # Adjust y to match the number of samples in X

# Create LDA and QDA classifiers
lda = LinearDiscriminantAnalysis()
qda = QuadraticDiscriminantAnalysis()

# Perform cross-validation and evaluate the classifiers
lda_scores = cross_val_score(lda, X, y, cv=5)
qda_scores = cross_val_score(qda, X, y, cv=5)

# Print the mean accuracy scores for each classifier
print("LDA Mean Accuracy:", lda_scores.mean())
print("QDA Mean Accuracy:", qda_scores.mean())

LDA Mean Accuracy: 0.51
QDA Mean Accuracy: 0.49000000000000005

In [19]:
#d. Check the equality of mean for between all the classes.
from scipy.stats import f_oneway

# Perform one-way ANOVA test
statistic, p_value = f_oneway(before, after)

# Check if the means are significantly different
if p_value < alpha:
    print("The means of the classes are significantly different.")
else:
    print("The means of the classes are not significantly different.")

The means of the classes are significantly different.